@charset "ISO-8859-1";

Body {
	font-family: Candara;
	background-image: url("https://www.teahub.io/photos/full/36-360758_blue-gradient-wallpaper-hd..jpg");
}
/* background-image: url(C:/Users/juani/eclipse-workspace/Clinica1/src/main/webapp/WEB-INF/resources/img/fondo.jpg);
 background-image: url("https://cdn.discordapp.com/attachments/351120178408456192/886792799389900840/fondo.jpg"); */
h2 {
	text-align: center;
	color: #FFFFFF;
}

form {
	margin: auto;
	width: auto;
	max-width: 400px;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}

Button {
	background-color: #21618C;
	width: 200px;
	color: #FFFFFF;
	padding: 20px;
	margin: 10px;
	border: none;
	cursor: pointer;
	font-family: Candara;
	font-size: 20px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 5px 5px 3px #17202A;
}


button:hover {
	opacity: 0.5;
}