@charset "ISO-8859-1";

Body {
	font-family: Candara;
	font-size: 20px;
	background-color: #C1C1C1;
}

table, th, td {
	border: 2px solid transparent;
	padding: 4px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #000000;
	border-collapse: collapse;
	background-color: #ECECEC;
}

table {
	width: 100%;
}

Button {
	background-color: #000000;
	width: 200px;
	color: rgb(255, 255, 255);
	padding: 20px;
	margin: 10px;
	border: none;
	cursor: pointer;
	font-family: Candara;
	font-size: 20px;
	text-align: center;
	border-radius: 10px;
}

form {
	margin: auto;
	width: auto;
	max-width: 400px;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
}

h1 {
	text-align: center;
	color: #000000;
	font-size: 40px;
}