@charset "ISO-8859-1";

Body {
	font-family: Candara;
	background-image: url("https://www.teahub.io/photos/full/36-360758_blue-gradient-wallpaper-hd..jpg");
}

h1 {
	text-align: center;
	color: #FDFEFE;
	font-size: 80px;
}

h2 {
	text-align: center;
}

form {
	text-align: center;
	display: inline-block;
}

Button {
	background-color: #21618C;
	width: 400px;
	color: rgb(255, 255, 255);
	padding: 20px;
	margin: 50px;
	border: none;
	cursor: pointer;
	font-family: Candara;
	font-size: 20px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 5px 5px 3px #17202A;
}

button:hover {
	opacity: 0.5;
}